--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
pydantic
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
pytesseract==0.3.10
Pillow
langchain-community